<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart News Aggregator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>📰 Smart News Aggregator</h1>

    <form action="/" method="GET">
        <input
            type="text"
            name="query"
            placeholder="Search news..."
            value="{{ query if query else '' }}"
        >
        <button type="submit">Search</button>
    </form>

    {% if search_mode %}

        <h2 class="category-title">
            Search Results for "{{ query }}"
        </h2>

        <div class="container">

        {% for article in news %}

            <div class="card">

                {% if article.image %}
                    <img src="{{ article.image }}" alt="News Image">
                {% endif %}

                <h3>{{ article.title }}</h3>

                <div class="ai-box">

    <div class="ai-title">
        🧠 AI Summary
    </div>

    <div class="ai-text">
        {{ article.summary }}
    </div>

</div>

                <a href="{{ article.url }}" target="_blank">
                    Read Full Article →
                </a>

            </div>

        {% endfor %}

        </div>

    {% else %}

        {% for category, articles in all_news.items() %}

            <h2 class="category-title">
                {{ category.title() }}
            </h2>

            <div class="container">

            {% for article in articles %}

                <div class="card">

                    {% if article.image %}
                        <img src="{{ article.image }}" alt="News Image">
                    {% endif %}

                    <h3>{{ article.title }}</h3>

                    <div class="ai-box">

    <div class="ai-title">
        🧠 AI Summary
    </div>

    <div class="ai-text">
        {{ article.summary }}
    </div>

</div>

                    <a href="{{ article.url }}" target="_blank">
                        Read Full Article →
                    </a>

                </div>

            {% endfor %}

            </div>

        {% endfor %}

    {% endif %}
<footer>

    Smart News Aggregator |
    Built using Flask, NewsAPI & Hugging Face Transformers

</footer>
</body>
</html>